<app-settings-nav></app-settings-nav>
<div class="content-container">
  <div class="content-area">
    <h2>Manage Admin Users</h2>
    <section>
      <button class="btn btn-primary"  routerLink="/settings/users/create">NEW USER</button>
    </section>
    <div class="row">
      <div class="col-lg-8">
        <clr-datagrid class="tbl-compact">
          <clr-dg-column [clrDgField]="'username'">Username</clr-dg-column>
          <clr-dg-column [clrDgField]="'email'">Email</clr-dg-column>
          <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
          <clr-dg-column [clrDgField]="'role'">Role</clr-dg-column>

          <clr-dg-row *clrDgItems="let user of users" [clrDgItem]="user">
            <clr-dg-action-overflow>
              <button class="action-item" [routerLink]="['edit', user.id]">Edit</button>
              <button class="action-item action-warning" (click)="onDelete(user)">Delete</button>
            </clr-dg-action-overflow>

            <clr-dg-cell>{{ user.username }}</clr-dg-cell>
            <clr-dg-cell>{{ user.email }}</clr-dg-cell>
            <clr-dg-cell>{{ user.name }}</clr-dg-cell>
            <clr-dg-cell>{{ user.role }}</clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10">
              {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
              of {{pagination.totalItems}} users
            </clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>
      </div>
    </div>
  </div>
</div>
