<app-settings-nav></app-settings-nav>
<div class="content-container">
  <div class="content-area">
    <h2>Create Admin User</h2>
    <form [formGroup]="form" (submit)="onSave()" class="clr-form clr-form-horizontal">
      <clr-input-container>
        <label>Username</label>
        <input clrInput type="text" placeholder="jdoe" formControlName="username">
        <clr-control-helper></clr-control-helper>
        <clr-control-error *clrIfError="'required'">Field is required!</clr-control-error>
      </clr-input-container>
      <div class="clr-form-control">
        <label class="clr-control-label">User Role</label>
        <div class="select">
          <select class="clr-input-wrapper clr-input-container" style="width: 158px;" formControlName="role">
            <option selected>admin</option>
          </select>
        </div>
      </div>
      <clr-input-container>
        <label>Email Address</label>
        <input clrInput type="text" placeholder="jdoe@company.com" formControlName="email">
        <clr-control-helper></clr-control-helper>
        <clr-control-error *clrIfError="'required'">Field is required!</clr-control-error>
        <clr-control-error *clrIfError="'email'">Not a valid email address!</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Name</label>
        <input clrInput type="text" placeholder="John Doe" formControlName="name">
        <clr-control-helper></clr-control-helper>
        <clr-control-error *clrIfError="'required'">Field is required!</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Password</label>
        <input clrInput type="password" placeholder="Password" formControlName="password">
        <clr-control-helper></clr-control-helper>
        <clr-control-error *clrIfError="'required'">Field is required!</clr-control-error>
        <div class="clr-control-error" *ngIf="form.get('password').value != form.get('confirmPassword').value">Passwords must match!</div>
      </clr-input-container>
      <clr-input-container>
        <label>Confirm Password</label>
        <input clrInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
        <clr-control-helper></clr-control-helper>
        <clr-control-error *clrIfError="'required'">Field is required!</clr-control-error>
      </clr-input-container>
      <div class="alert alert-warning" style="width: 375px;" *ngIf="form.get('password').value != form.get('confirmPassword').value && form.get('confirmPassword').dirty && form.get('password').dirty">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
            </div>
            <span class="alert-text">Passwords must match!</span>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-top: 1rem" *ngIf="mode === 'create'">CREATE USER</button>
      <button type="submit" class="btn btn-primary" style="margin-top: 1rem" *ngIf="mode === 'edit'">UPDATE USER</button>
    </form>
  </div>
</div>
